<div class="container_big-card">
    <div class="img_big-card">
        <img src="https://elie.net/static/images/banner/fuller-house-exposing-high-end-poker-cheating-devices.jpg"
        alt="">
    </div>
    <div class="name_big-card">
        <h1> <a href="#">Poker Class</a></h1>
    </div>
    <div class="text_big-card">
        <p>Um jogador pode ter uma mão fraca, mas pode ganhar a rodada se conseguir blefar bem. Isso faz o poker ser considerado um esporte da mente e não mais um jogo de azar. O objetivo geral no poker é conquistar todas as fichas do torneio, tornando-se o campeão.</p>
    </div>
</div>
